.search-bar {
    display: flex;
    margin-bottom: 20px;
  }
<<<<<<< HEAD

=======
  
>>>>>>> b3b7ee152bc768bcc084e1f7da91040e35af408c
  input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
<<<<<<< HEAD

=======
  
>>>>>>> b3b7ee152bc768bcc084e1f7da91040e35af408c

  button {
    padding: 2px;
    height: 28px;
    z-index: 1;
    top: 1;
    right: 1;
    text-align: center;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
    font-family: Verdana;
    background: rgb(106, 212, 177);
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }
<<<<<<< HEAD

=======
  
>>>>>>> b3b7ee152bc768bcc084e1f7da91040e35af408c
  button:hover {
        background: rgb(79, 167, 139);
}